.heading {
    width: 100%;
    text-align: left;
}
.heading h3 {
    display: inline;
}
.heading button {
    border:2px solid white;
    float: right;
}
.big_image {
    width: 100%;
}
#start , #status {
    font-size: 22px;
}
#credit {
    background-color:rgb(255, 198, 198);
    line-height: 2;
    margin:0px;
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-dialog {
    width:90%;
}
.image {
    display:inline-block;
    width:45%;
}
#up {
    float:right;
    height:50px;
    width:50px;
    border-radius: 50px;
    margin-bottom:0px;
    color:green;
    font-size:30px;
}

video {
    background-image: url("game_console.png");
    background-size:cover;
    background-position: center;
    padding: 25px;
}